
<!-- <div style="display: grid; grid-template-columns: 1fr 1fr; width: 100%; border: 1px solid;">
<div >
    <div style="float: right; display: block; margin-right: 2%;">
        <h3> Software Developer / Analyst</h3>
        <p> Bank of Abyissinia </p>
    </div>
    <div style="float: right;">
        <h1> in left</h1>
    </div>
</div>
<div>
    <div style="border-left: 5px solid blue">
        <h1> in left</h1>
    </div>
    <div style="border-left: 5px solid blue">
        <h1> in left</h1>
    </div>
</div>
</div> -->

<div class="timeline">
    <div class="containe left">
      <div class="content">
        <h2>2017</h2>
        <p>Lorem ipsum..</p>
      </div>
    </div>
    <div class="containe left">
        <div class="content">
          <h2>2017</h2>
          <p>Lorem ipsum..</p>
        </div>
      </div>
    <div class="containe right">
      <div class="content">
        <h2>2016</h2>
        <p>Lorem ipsum..</p>
      </div>
    </div>
    <div class="containe right">
        <div class="content">
          <h2>2016</h2>
          <p>Lorem ipsum..</p>
        </div>
      </div>
  </div>