<nav>
<app-navbar></app-navbar>
</nav>
<main>
    <div >
    <!--style="background-color: hsla(0, 0%, 0%, 0.8);"-->
        
    <div class="bg-image vh-100" >
    <!--background-image: ur  -->
    <img 
    style="width: 80%;height: 90%; opacity: 0.1;" 
    src= "https://media.istockphoto.com/id/903044512/vector/user-icon-vector-with-laptop-computer-female-person-profile-avatar-for-business-and-online.jpg?s=2048x2048&w=is&k=20&c=_2lCFpeCoo9piVsNEvcZRQcee8khrcrS7AxzcN8Akxk=">
    </div>
    <div class="centered"><h1 style="font-size: 5em;"> Hiwot Alemayehu</h1>
    <h3> Full Stack Java Developer</h3>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">.col-md-4</div>
      <div class="col-md-4">.col-md-4</div>
    </div>
  </div>
</main>